.employees {
    padding: 20px;
  }
  
  .employees h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .employee-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .employee-buttons .btn {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .employee-buttons .btn:hover {
    background-color: #747474;
  }
  
  .employees table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .employees th, .employees td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .employees th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .employees tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .employees tr:hover {
    background-color: #f1f1f1;
  }
  
  .employees td {
    white-space: nowrap;
  }
  
  .employees th, .employees td {
    text-align: center;
  }
  
  .employee-row {
    background-color: #e0e0e0;
  }
  
  .task-row {
    background-color: #f9f9f9;
    text-align: left; /* Ensure tasks are left-aligned */
  }
  
  .task-row td {
    padding-left: 10vw;
    text-align: left; /* Ensure tasks are left-aligned */
  }