.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 10vw;
  height: 100vh;
  background-color: #15191b;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.navbar.open {
  transform: translateX(0);
}


.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
  padding: 3vh 0;
  background-color: #1c1c1c;
}

.navbar-title {
  font-size: 20px;
  color: white;
  text-align: center;
}

.right-arrow {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  position: fixed;
  top: 2vh; 
  left: 10vw; 
  z-index: 1000;
  background-color: #15191b;
  border-radius: 100%;
  transition: transform 0.3s ease, left 0.3s ease;
}

.right-arrow.open {
  transform: rotate(180deg);
  left: 10vw; 
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.navbar li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100%;
}

.navbar li .dropdown-text{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: fit-content;
}

.navbar a {
  color: white; 
  text-decoration: none;
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar a:hover {
  background-color: #575757;
}

.navbar .active {
  background-color: #14533a; 
  width: 100%; 
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  background-color: #15191b;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: nowrap;
  left: 0;
}

.dropdown-content.show {
  display: block;
  width: 100%;
}

.dropdown:hover .dropbtn,
.dropdown-content.show .dropbtn {
  background-color: #575757;
}

.arrow {
  margin-left: 5px;
}

@media (max-width: 1045px) {
  .navbar {
    width: 100px;
    transform: translateX(-100%);
  }

  .navbar.open {
    transform: translateX(0);
  }

  .right-arrow {
    display: block;
    left: 15vw;
  }
}